# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# Build artifacts
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
